fastapi
uvicorn
langgraph
langchain-google-genai
langchain-openai
langchain-text-splitters
google-api-python-client
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
aiofiles
requests
beautifulsoup4
ddgs
crawl4ai
numpy
qdrant-client
fastembed
sentence-transformers
