                                                                                                               
fastapi
uvicorn
langgraph
langchain-google-genai
langchain-openai
langchain-text-splitters
google-api-python-client
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
aiofiles
requests
streamlit
beautifulsoup4
ddgs
crawl4ai
numpy<2
praw
qdrant-client
fastembed
axiom-py
python-multipart

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2

sentence-transformers==2.7.0
